/* RESET E BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

/* CONTAINER E MENU */
#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

#layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===============================
   LAYOUT 01 - index.html
================================= */
.layout1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout1 .cabecalho,
.layout1 .rodape {
  background-color: #bbb;
  padding: 20px;
  text-align: center;
}

.layout1 .corpo {
  display: flex;
  flex: 1;
}

.layout1 .artigos {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.layout1 .artigo {
  flex: 1;
  background-color: #999;
  padding: 20px;
  text-align: center;
}

.layout1 .menu {
  flex: 1;
  background-color: #888;
  padding: 20px;
  text-align: center;
}

/* ===============================
   LAYOUT 02 - 02.html
================================= */
.layout2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout2 .header,
.layout2 .footer {
  background-color: #666;
  color: white;
  padding: 20px;
  text-align: center;
}

.layout2 .main {
  flex: 1;
  display: flex;
}

.layout2 .menu {
  flex: 1;
  background-color: #999;
  padding: 15px;
}

.layout2 .menu-itens {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.layout2 .menu-itens button {
  padding: 6px;
}

.layout2 .content {
  flex: 2;
  background-color: #bcbcbc;
  padding: 15px;
}

.layout2 .ads {
  flex: 1;
  background-color: #ccc;
  padding: 15px;
}

/* ===============================
   LAYOUT 03 - 03.html
================================= */
.layout3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout3 .nav {
  display: flex;
  justify-content: space-around;
  background-color: #666;
  color: white;
  padding: 15px;
}

.layout3 .cards {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.layout3 .card {
  background-color: #999;
  padding: 20px;
  flex: 1;
  min-width: 200px;
}

.layout3 .footer3 {
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
  padding: 20px;
}
